
.login-page{
    padding-top: 60px;
} 
.login-title {
    text-align: center;
    font-size: 30px;
    color: #f0314c;
}

.login-form {
    width: 100%;
}

@media (min-width: 768px) {
    .login-form {
        width: 500px;
        margin: auto;
    }
}

.login-form label,
.login-form input:not([type="checkbox"]),
.login-form select {
    display: block;
    width: 100%;
    margin-top: 10px;
}

.login-form input[type="checkbox"],
.login-form input[type="checkbox"] + label {
    display: inline-block;
    width: auto;
    margin-top: 15px;
}

.login-form button[type="submit"] {
    display: block;
    margin-top: 15px;
}

.login-form input:not([type="checkbox"]),
.login-form select {
    border: 1px solid #ccc;
    padding: 10px 15px;
}

.login-form input:not([type="checkbox"]):focus,
.login-form select:focus {
    outline: none;
    background-color: yellow;
    border: 1px solid greenyellow;
}

.login-form input[type="checkbox"] {
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #2E4C6d;
    vertical-align: bottom;
    border-radius: 50%;
}

.login-form input[type="checkbox"]:hover {
    background: gray;
}

.login-form input[type="checkbox"]:checked {
    background: #FC997C;
}


